


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
/* 
.hover{
    transition: background-color 0.3s ease;
} */

h1 {
    color: #333;
}

.todo-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todoInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #1e87d3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
}

.completed {
    background-color: #d3ffd3;
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #205f81;
    color: white;
    border-top: 1px solid #ddd;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
    color: #e0e0e0;
}

footer .quote {
    font-style: italic;
    margin-top: 10px;
    font-size: 13px;
}
